* {
    box-sizing: border-box;
}

body {
    font-family: hamid;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.5;
}


/* 
@media(max-width:560px) {
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8),
    .panel:nth-of-type(9),
    .panel:nth-of-type(10),
    .panel:nth-of-type(11),
    .panel:nth-of-type(12) {
        display: none;
    }
}

@media(max-width:850px) {
    .container {
        width: 200vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8),
    .panel:nth-of-type(9),
    .panel:nth-of-type(10),
    .panel:nth-of-type(11),
    .panel:nth-of-type(12) {
        display: none;
    }
}

@media(max-width:1200px) {
    .container {
        width: 300vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8),
    .panel:nth-of-type(9),
    .panel:nth-of-type(10),
    .panel:nth-of-type(11),
    .panel:nth-of-type(12) {
        display: none;
    }
}

@media(max-width:1250px) {
    .container {
        width: 400vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6),
    .panel:nth-of-type(7),
    .panel:nth-of-type(8),
    .panel:nth-of-type(9),
    .panel:nth-of-type(10),
    .panel:nth-of-type(11),
    .panel:nth-of-type(12) {
        display: none;
    }
} */